<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/singlepost.css">
    <title>Single post</title>
    <%- include('./partials/header.ejs') %> 
</head>
<body>
    
    <div class="vertical"> 
        
        <div class="container"> 
            <div class="singlepost" > 
                <h3 class="title">
                    <img src="/profile.png" alt="Profile" /> 
                    <span> <%= posts.time %> </span> 
                </h3> 
                <div>
                    <p class="comment"> <%= posts.comment %> </p>
                    <img class="like" src="/like.png" />
                </div> 
            </div>
        </div>                
    <%- include('./partials/footer.ejs') %>
    </div> 
    
</body>
</html>