<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/singlepost.css">
    <title>Single post</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <div class="singlepost" > 
        <div>
            <p class="comment"> <%= posts.comment %> </p>
            <img class = "pic" src="/profile.png" alt="Profile" />
            <div>
                <img class="like" src="/like.png" />
                <p class="likes"><%= posts.likes %> </p>
            </div>
            <button> Delete </button>
        </div> 
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>