body{
    margin: 0;
    background: linear-gradient(to right, #044ae0, #2fd4da)
    
}


.vertical {
    height: fit-content;
    position: absolute;
    left: 25%;
    right: 25%;
    background-color: #ffffff;
}

.container {
    /* margin-top: 10px; */
    margin-bottom: 80px;
    height: auto;
    display: flex;
    /*
  align-items:flex-start;
  align-items:flex-end;
  */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.singlepost {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: 10px;
    box-shadow: 2px 2px 5px 5px rgb(148, 148, 148);
    background-color: #ffffff;
}

.singlepost h3 {
    height: 25px;
    margin-top: 2px;
}

.singlepost h3 img {
    float: left;
    height: 100%;
    width: auto;
}

.singlepost h3 span {
    font-size: small;
    float: right;
}
/* .imageBox {
    display: block;
    text-align: center;
}
.imageBox img {
    max-height: 300px;
    width: 400px;
} */
.comment {
    text-align: left;
    padding-left: 5px;
}
.like {
    display: flex;
    align-items: center;
}

/* .likeImage {
    height: 30px;
    width: 40px;
} */

button {
    background-color: transparent;
    background-image: url('/like.png');
    background-size:cover;
    border: none;
    height: 30px;
    width: 40px;
}

p {
    font-family: fantasy;
}

a {
    color:black;
    text-decoration: none;
}